body{
    margin: 0;
    display: flex;
    justify-self: center;
}
#calculator{
    font-family: arial,sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}

#display{
    width: 100%;
    text-align: left;
    font-size: 3rem;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    padding: 20px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 10%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 30%);  
}
button:hover:active{
    background-color: hsl(0, 0%, 50%);  
}
.opretor-btn{
    background-color: hsl(63, 95%, 50%);
    color: black;
}
.opretor-btn:hover{
    background-color: hsl(63, 95%, 90%);
}
.opretor-btn:hover:active{
    background-color: hsl(63, 95%, 100%);
}
  