body{
    margin: 0;
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    height: 100vh;
}

/* Calculator box */
#calculator{
    font-family: arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    overflow: hidden;
}

/* Display */
#display{
    width: 100%;
    text-align: left;
    font-size: 2.5rem;
    padding: 15px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    box-sizing: border-box;
}

/* Buttons grid */
#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
}

/* Buttons */
button {
    width: 100%;
    aspect-ratio: 1;  /* keeps buttons round */
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 10%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

/* Hover effects */
button:hover{
    background-color: hsl(0, 0%, 30%);  
}
button:active{
    background-color: hsl(0, 0%, 50%);  
}

/* Operator buttons */
.operator-btn{
    background-color: hsl(63, 95%, 50%);
    color: black;
}
.operator-btn:hover{
    background-color: hsl(63, 95%, 80%);
}
.operator-btn:active{
    background-color: hsl(63, 95%, 100%);
}