body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    font-family: arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    overflow: hidden;
}

#display{
    width: 100%;
    text-align: left;
    font-size: 2.5rem;
    padding: 15px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    box-sizing: border-box;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
}

button {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 10%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 30%);  
}

button:active{
    background-color: hsl(0, 63%, 51%);  
}

.operator-btn{
    background-color: hsl(63, 88%, 52%);
    color: black;
}

.operator-btn:hover{
    background-color: hsl(63, 95%, 90%);
}

.operator-btn:active{
    background-color: hsl(63, 95%, 100%);
}
